*{
    background-color: rgb(180, 191, 248);
    font-family: Arial;
}

h1{
    font-size: 24px;
    color: rgba(21, 6, 161, 0.829);
}
h2{
    font-size: 18px;
    color: rgba(21, 6, 161, 0.829);
}