    h1 {
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    text-align: center;
    background-color: rgb(28, 4, 252);
    }
    
    p {
    font-size: 24px;
    font-family: arial, helvetica;
    font-weight: normal;
    color: black;

    background-color: white;
    }

    
    
    body {
        background-color: #657ff3;
        font-family: arial;
        color: White;
    }